<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:targetApi="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:targetApi="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        tools:targetApi="33" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"
        tools:targetApi="33" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"
        tools:targetApi="33" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginSignupSql"
        tools:targetApi="31">
        <activity
            android:name="com.example.loginsignupsql.PrehladAKontaktyMenu.PrehladActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.loginsignupsql.PrehladAKontaktyMenu.KontaktyActivity"
            android:exported="false" />
        <activity
            android:name="com.example.loginsignupsql.CustomizeAccountActivity"
            android:exported="true" />
        <activity
            android:name="com.example.loginsignupsql.HomeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.loginsignupsql.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AnimatedSplash.MySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.loginsignupsql.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.example.loginsignupsql.SignupActivity"
            android:exported="false" />
        <activity
            android:name="com.example.loginsignupsql.ItemActivities.Item1Activity"
            android:exported="true" />
        <activity
            android:name="com.example.loginsignupsql.ItemActivities.Item2Activity"
            android:exported="true" />
        <activity
            android:name="com.example.loginsignupsql.ItemActivities.Item3Activity"
            android:exported="true" />
        <activity
            android:name="com.example.loginsignupsql.ItemActivities.Item4Activity"
            android:exported="true" />
        <activity
            android:name="com.example.loginsignupsql.ItemActivities.Item5Activity"
            android:exported="true" />
        <activity
            android:name="com.example.loginsignupsql.ItemActivities.Item6Activity"
            android:exported="true" />
        <activity
            android:name="com.example.loginsignupsql.itemactivities.AccountBalanceActivity"
            android:exported="true" />
        <activity
            android:name="com.example.loginsignupsql.ItemActivities.Product1Activity"
            android:exported="true" />
        <activity
            android:name="com.example.loginsignupsql.ItemActivities.Product2Activity"
            android:exported="true" />
        <activity
            android:name="com.example.loginsignupsql.ItemActivities.Product3Activity"
            android:exported="true" />
    </application>

</manifest>
